.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: 500px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.card:hover {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

img {
  border-radius: 20px 20px 20px 20px;
  background-color: aliceblue;
  width: 128px;
  padding: 16px 16px;
}

.container {
  padding: 16px 16px;
}

body {
  font-family: Montserrat;
  height: 100vh;
}

body p {
  line-height: 150%;
}

.screen {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  
  gap: 12px;

}
